/* CSS Document */
.ui-content {
	margin: 0;
	padding: 0 !important;
}
.popover-content {
	min-width: 300px;
}
#marker, #center_marker {
	display:none;
	width: 25px;
	height: 25px;
	border: 2px solid #800;
	border-radius: 16px;
	background-color: #F10;
	opacity: 0.7;
}
#markerTitle, #center_markerTitle {
	display:none;
	text-decoration: none;
	color: black;
	font-size: 12pt;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em;
}

#nav1-btn-div {
	position: fixed;
	top:0; right:20px;
	padding: 0;
	margin: 0;
}

#nav1 {
	position: fixed;
	top:0; left: 50px;
}

#map-logo {
	position:fixed;
	width: 206px;
	height: 0px;
	padding-left: 5px;
	/* text-shadow: white 2px 2px 0px, white -2px 2px 0px,	white 2px -2px 0px, white -2px -2px 0px; */
}

#nav1-btn {
	background-color: white;
}
#nav1-btn:hover {
	background-color: #e0e0e0;
}

#nav1-btn, #lblPubNinka, #lblPriNinka, #lblNinkagai, #lblYhoiku, #lblJigyosho, #lblKindergarten, #lblDisability, #lblElementarySchool, #lblMiddleSchool,
#btnFilter, #changeBaseMap-button, #moveTo-button, #changeCircleRadius-button, #btnHelp {
	border: groove white;
	border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}

#lblPubNinka.ui-checkbox-on {
	background-color: #44AA00;
}
#lblPubNinka.ui-checkbox-off {
	background-color: rgba(240,240,240,0.8);
}
#lblPubNinka:hover {
	color: lightblue;
}

#lblPriNinka.ui-checkbox-on {
	background-color: #6EE100;
}
#lblPriNinka.ui-checkbox-off {
	background-color: rgba(240,240,240,0.8);
}
#lblPriNinka:hover {
	color: lightblue;
}

#lblNinkagai.ui-checkbox-on {
	background-color: #0362A0;
}
#lblNinkagai.ui-checkbox-off {
	background-color: rgba(240,240,240,0.8);
}
#lblNinkagai:hover {
	color: lightblue;
}

#lblYhoiku.ui-checkbox-on {
	background-color: #0488EE;
}
#lblYhoiku.ui-checkbox-off {
	background-color: rgba(240,240,240,0.8);
}
#lblYhoiku:hover {
	color: lightblue;
}

#lblJigyosho.ui-checkbox-on {
	background-color: #6DBA9C;
}
#lblJigyosho.ui-checkbox-off {
	background-color: rgba(240,240,240,0.8);
}
#lblJigyosho:hover {
	color: lightblue;
}

#lblKindergarten.ui-checkbox-on {
	background-color: #FF5C24;
}
#lblKindergarten.ui-checkbox-off {
	background-color: rgba(240,240,240,0.8);
}
#lblKindergarten:hover {
	color: lightblue;
}

#lblDisability.ui-checkbox-on {
	background-color: #f78cb7;
}
#lblDisability.ui-checkbox-off {
	background-color: rgba(240,240,240,0.8);
}
#lblDisability:hover {
	color: lightblue;
}

#lblElementarySchool.ui-checkbox-on {
	background-color: #1BA466;
}
#lblElementarySchool.ui-checkbox-off {
	background-color: rgba(240,240,240,0.8);
}
#lblElementarySchool:hover {
	color: lightblue;
}

#lblMiddleSchool.ui-checkbox-on {
	background-color: #7379AE;
}
#lblMiddleSchool.ui-checkbox-off {
	background-color: rgba(240,240,240,0.8);
}
#lblMiddleSchool:hover {
	color: lightblue;
}

.ol-popup {
	display: none;
	position: absolute;
	background-color: white;
	width: 300px;
	bottom: 12px;
	top: -192px;
	left: -150px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.5));
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.5));
}

select {
    color: #000;
}

/*吹き出し風表示用の定義 */
/*
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
*/
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 150px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 150px;
	margin-left: -11px;
}

.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: -8px;
}
.ol-popup-closer:after {
	content: "x";
}
#popup-closer {
	top: -5px;
	right: -5px;
}

#popup-content th {
	width: 4.5em;
	vertical-align: top;
	background-color: white;
}

#popup-content td {
	vertical-align: top;
	background-color: white;
}

.move-current-location {
	position: absolute;
	top: 270px;
	left: 8px;
	background-color: rgba(0,60,136,0.5);
	border-radius: 4px;
	padding: 4px;
}
.ol-touch .move-current-location {
	top: 270px;
}
.move-current-location:hover,
.move-current-location:focus {
	text-decoration: none;
	background-color: #4c6079;
	background-color: rgba(0,60,136,0.7);
}
.ui-btn-icon-notext {
	width: 32px;
	height: 32px;
}

#btnHelp, #lblDisplayCircle {
	width: 45px;
}

#lblDisplayCircle, #cbDisplayCircle {
	display: none;
}

h3 {
	margin-top: 0;
	margin-bottom: 0.5em;
}

legend {
	margin-bottom: 0;
	font-size: medium;
}

/* ToDo: 検索ボタンの修正&対応が終わるまで無効化(btn-disabled) */
.btn-disabled {
	pointer-events: none; /* aタグのリンクを無効にする */
	cursor: default;  /* マウスオーバー時のカーソルをdefaultに固定 */
	text-shadow: 0 0 0 #f3f3f3 !important; /* 文字の影 */
	-moz-box-shadow: 0 0 0 #f3f3f3 !important; /* Firefox用 */
	-webkit-box-shadow: 0 0 0 #f3f3f3 !important; /* Safari,Google Chrome用 */
	background-color: #888 !important; /* 背景色 */
	color: #aaa !important; /* 文字色 */
}
